@font-face {
    font-family: Public Sans;
    src: url('/fonts/PublicSans-VariableFont_wght.ttf');
}

body{
    margin: 0px;
}

.content{
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    z-index: 1;
    background: white;
    top: 0;
    width: 100%;
}

.navbar > :first-child{
    display: flex;
    align-items: center;
    margin-left: 130px;
}

.navbar > :last-child{
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.navbar_menu{
    display: flex;
}

.navbar_menu a {
    display: flex;
    padding: 20px 8px 0px 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Public Sans';
    text-decoration: none;
    color:hsl(233, 8%, 62%);
    border-bottom: 0px solid;
    border-image-slice: 1;
    border-width: 0px;
    border-image-source: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    transition: ease-in 0.15s;
}

.navbar_menu a:hover {
    border-bottom: 5px solid;
    border-width: 5px;
}

.request{
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 24px;
    font-family: 'Public Sans';
    font-weight: bold;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), 48%, hsl(192, 70%, 51%) 70%);
    padding: 10px 20px;
    transition: ease-in 0.15s;
}
.request:hover {
    opacity: 0.7;
}

.navbar_mobile{
    display: none;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    z-index: 1;
    background: white;
    top: 0;
    padding: 0 15px;
    width: 100%;
}

.shadow_box{
    position: relative;
    background-color: rgb(0, 0,0,0);
}

.active{
    background: linear-gradient(180deg, rgba(0,0,0,0.6769301470588236) 0%, rgba(255,255,255,0) 15%);
    transition: 1s;
}

.intro{
    display: flex;
    justify-content: center;
    height: 550px;
    overflow: hidden;
}
.intro .section-wrapper{
    display: flex;
    padding: 0px;   
}
.greet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
}
.greet h1, h2, h3{
    font-family: 'Public Sans';
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

.greet p {
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans';
    font-weight: 400;
}
.background{
    overflow: hidden;
    position: relative;
    /* left: 250px; */
}

.background_image{
    background-image: url(/images/bg-intro-desktop.svg);
    background-size: 746px 618px;
    background-repeat: no-repeat;
    height: 640px;
    width: 1144px;
    position: relative;
    bottom: 150px;
}
.background_mockups{
    background-image: url(/images/image-mockups.png);
    background-size: 499px 603px;
    background-repeat: no-repeat;
    height: 640px;
    width: 627px;
    position: relative;
    top: 79px;
    left: 165px;
}

.benefits{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: hsl(220, 16%, 96%);
    bottom: 84px;
    z-index: -1;
}

.section-wrapper{
    width: 1025px;
    padding: 60px;
}

.benefits .greet{
    margin-bottom: 60px;
}

.benefits-cards{
    display: flex;
}

.benefits_card{
    width: 260px;
    text-align: left;
    margin: 0px 10px;
}

.benefits_card p {
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans';
    font-weight: 400;
}

.articles{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    bottom: 85px;
}

.articles-cards{
    display: flex;
    justify-content: space-between;
}

.article_card h5 {
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans';
    font-weight: 400;
}

.article_card{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    width: 245px;
    text-align: left;
}

.article_card img{
    width: 270px;
}

.article_card h3{
    margin: 10px 20px;
}

.article_card h5{
    margin: 10px 20px;
}

.article_card p{
    margin: 10px 20px;
}

.article_card p {
    color: hsl(233, 8%, 62%);
    font-family: 'Public Sans';
    font-weight: 400;
}

.article_card .image-wrap{
    height: 180px;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
    background-color: hsl(233, 26%, 24%);
    color: hsl(220, 16%, 96%);
    font-family: 'Public Sans';
}

.logo_media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_links{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 490px;
}

.media_links{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.media_links a{
    height: 25px;
    width: 25px;
    display: block;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.facebook{
    background-image: url('/images/icon-facebook.svg');
}
.youtube{
    background-image: url('/images/icon-youtube.svg');
}
.twitter{
    background-image: url('/images/icon-twitter.svg');
}
.pinterest{
    background-image: url('/images/icon-pinterest.svg');
}
.instagram{
    background-image: url('/images/icon-instagram.svg');
}


.pages{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.pages_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages_column a {
    display: block;
    text-decoration: none;
    font-family: 'Public Sans';
    color: hsl(0, 0%, 98%);
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    color:hsl(233, 8%, 62%);
}

.burger-button{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.burger{
    height: 5px;
    background-color: gray;
    width: 50px;
    margin: 6px 0px;
  }

  .hiding{
    opacity: 0;
    transition: 0.5s;
  }
  .rotate-up{
    transform: translateY(17px) rotate(45deg);
    transition: 0.5s;
  }
  .rotate-down{
    transform: translateY(-17px) rotate(-45deg);
    transition: 0.5s;
  }


@media (max-width:1281px) { 
    .intro{
        justify-content: space-evenly
    }
    .intro .section-wrapper{
        justify-content: space-between;
    }
    /* hi-res laptops and desktops */ 
}

@media (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .background{
        left: 150px;
    }
    .background_image{
        background-size: 671px 556px;
        bottom: 47px;
    }
    .background_mockups{
        background-size: 449px 542px;
    }
    .section-wrapper{
        width: 961px;
    }
    .article_card{
        width: 200px;
    }
    .article_card img{
        width: 200px;
    }
    .article_card .image-wrap{
        height: 132px;
        overflow: hidden;
    }
    .footer{
        padding: 20px 40px;
    }
}

@media (max-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .section-wrapper{
        width: 641px;
    }
    .navbar > :first-child{
        margin-left: 0px;
    }
    
    .navbar > :last-child{
        margin-right: 0px;
    }
    .article_card{
        width: 150px;
    }
    .article_card img{
        width: 150px;
    }
    .article_card .image-wrap{
        height: 100px;
        overflow: hidden;
    }
    .article_card h3{
        font-size: 15px;
    }
    
    .article_card h5{
        font-size: 10px;
    }
    
    .article_card p{
        font-size: 12px;
    }
    .footer{
        padding: 5px 15px;
    }
 }

 @media (max-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .navbar{
        display: none;
    }
    .navbar_mobile{
        display: flex;
    }
    .navbar_logo{
        display: flex;
        align-items: center;
    }
    .intro .section-wrapper{
        flex-direction: column-reverse;
    }
    .background{
        overflow: visible;
        top: 275px;
        left: 0px;
    }
    .background_image{
        background-size: 805px 556px;
        bottom: 236px;
    }
    .background_mockups{
        left: 100px;
    }
    .greet{
        width: 100%;
        align-items: center;
    }
    .greet h1{
        width: 355px;
    }
    .greet p{
        width: 355px;
        text-align: center;
    }
    .benefits{
        margin-top: 130px;
    }
    .intro{
        height: 575px;
    }
    .benefits-cards{
        flex-direction: column;
        align-items: center;
    }
    .benefits_card{
        text-align: center;
        width: 350px;
    }
    .articles-cards{
        flex-direction: column;
        align-items: center;
    }
    .article_card{
        width: 350px;
        margin-bottom: 20px;
    }
    .article_card img{
        width: 350px;
    }
    .article_card .image-wrap{
        height: 180px;
        overflow: hidden;
    }
    .article_card h3{
        font-size: 20px;
    }
    
    .article_card h5{
        font-size: 15px;
    }
    
    .article_card p{
        font-size: 18px;
    }
    .footer{
        flex-direction: column;
    }
    .logo_links{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .logo_media{
        align-items: center;
    }
    .logo_media div {
        margin: 20px 0px;
    }
    .pages{
        flex-direction: column;
    }
    .pages_column{
        align-items: center;
    }
    .pages_column a{
        margin: 20px 0px;
    }
    .copyright{
        align-items: center;
    }
    .copyright div {
        margin: 20px 0px;
    }
}

@media (max-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}

@media (max-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
}
